<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentCheckInReady</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <input type="text" placeholder="Check In URL" id="checkInURL">
    <button id="submit">Submit</button>

    <script inline="javascript">
      let submit = document.getElementById("submit");

      submit.onclick = function() {
          //Get the value in the box
          var checkInURLVal = $("#checkInURL").val();

          $.get("/studentCheckInReady-testURL?"+$.param({checkInURL:checkInURLVal
              }),function(data){
                  console.log(data);
              });

          $.get("/studentCheckInReady-divideURL?"+$.param({checkInURL:checkInURLVal
              }),function(data){
                  console.log(data);

                  var data1 = {username:data.query.username,password:data.query.password,query:data.query.privilege};
                  sessionStorage.setItem('detail', JSON.stringify(data1));
                  window.location.href = 'studentCheckIn';
              });

      }
    </script>
</body>
</html>