<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TeacherManagement</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<label>Check In Situations</label>
<input type="text" placeholder="Teacher Name" id="teacherName">
<button id="submit">Submit</button>
<input type="text" placeholder="Course Name" id="courseName">
<select id="selectCourseName"></select>
<button id="submit3">Submit</button>
<input type="text" placeholder="Class Name" id="classGradesName" >
<select id="selectClassGradesName"></select>
<button id="submit4">Submit</button>
<input type="text" placeholder="Check In Name" id="checkInName" >
<select id="selectCheckInName"></select>
<button id="submit1">Submit</button>
<input type="text" placeholder="Add New Check In" id="newCheckInName" >
<button id="submit2">Submit</button>
<br>
<table id="studentList" border="1">

</table>

<script inline="javascript">
    let submit1 = document.getElementById("submit1");
    let submit = document.getElementById("submit");
    let submit3 = document.getElementById("submit3");
    let submit4 = document.getElementById("submit4");
    let submit2 = document.getElementById("submit2");

    submit1.onclick = function() {
          //Get the value in the box
          var teacherNameVal = $("#teacherName").val();
          var courseNameVal = $("#courseName").val();
          var classGradesNameVal = $("#classGradesName").val();
          var checkInNameVal = $("#checkInName").val();

          document.getElementById('studentList').innerHTML = '';

          var str1 = "<tr><th>Id</th><th>Name</th><th>Course</th><th>Major</th><th>Check In Name</th><th>Change Situation</th></tr>";
          $("#studentList").append(str1);

          $.get("/teacherManagement-checkInTest?"+$.param({teacherName:teacherNameVal,courseName:courseNameVal,classGradesName:classGradesNameVal,checkInName:checkInNameVal
              }),function(data){
                  console.log(data);

                  var str = "";
                  for (var i = 0; i < data.notCheckInStudentList.length; i++) {
                      str = "<tr id = row" + i + "><td id = studentId" + i + ">" + data.notCheckInStudentList[i].studentId + "</td>" +
                      "<td id = studentName" + i + ">" + data.notCheckInStudentList[i].studentName + "</td>" +
                      "<td id = courseName" + i + ">" + data.courseName + "</td> " +
                      "<td id = classGradesName" + i + ">" + data.classGradesName + "</td>" +
                      "<td id = checkInName" + i + ">" + data.checkInName + "</td>" +
                      "<td><button id = " + i + " onclick = 'change(id)'>Change</button></td></tr>"
                      $("#studentList").append(str);
                  }
              });
    }

    function change(id){
        var studentIdVal = document.getElementById("studentId" + id).innerHTML;
        var studentNameVal = document.getElementById("studentName" + id).innerHTML;
        var courseNameVal = document.getElementById("courseName" + id).innerHTML;
        var majorVal = document.getElementById("classGradesName" + id).innerHTML;
        var checkInNameVal = document.getElementById("checkInName" + id).innerHTML;

        $.get("/teacherManagement-changeCheckIn?"+$.param({major:majorVal, courseName:courseNameVal, checkInName:checkInNameVal, studentName:studentNameVal, studentId:studentIdVal
              }),function(data){
                  console.log(data);
                  document.getElementById("row" + id).style.display = 'none';
              });


    }

    submit.onclick = function() {
          //Get the value in the box
          var teacherNameVal = $("#teacherName").val();

          document.getElementById('selectCourseName').innerHTML = '';

          $.get("/teacherManagement-checkInCourses?"+$.param({teacherName:teacherNameVal
              }),function(data){
                  console.log(data);

                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item.courseName;
                      option.label = item.courseName;
                      document.getElementById('selectCourseName').appendChild(option);
                  });
              });
    }

    submit3.onclick = function() {
          //Get the value in the box
          var teacherNameVal = $("#teacherName").val();
          var courseNameVal = $("#courseName").val();

          document.getElementById('selectClassGradesName').innerHTML = '';

          $.get("/teacherManagement-checkInClassGrades?"+$.param({teacherName:teacherNameVal,courseName:courseNameVal
              }),function(data){
                  console.log(data);

                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item.major;
                      option.label = item.major;
                      document.getElementById('selectClassGradesName').appendChild(option);
                  });
              });
    }

    submit4.onclick = function() {
          //Get the value in the box
          var courseNameVal = $("#courseName").val();
          var classGradesNameVal = $("#classGradesName").val();

          document.getElementById('selectCheckInName').innerHTML = '';

          $.get("/teacherManagement-checkInCheckInName?"+$.param({classGradesName:classGradesNameVal,courseName:courseNameVal
              }),function(data){
                  console.log(data);

                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item;
                      option.label = item;
                      document.getElementById('selectCheckInName').appendChild(option);
                  });
              });
    }

    submit2.onclick = function() {
        //Get the value in the box
        var classGradesNameVal = $("#classGradesName").val();
        var courseNameVal = $("#courseName").val();
        var checkInNameVal = $("#newCheckInName").val();

        $.get("/teacherManagement-addNewCheckIn?"+$.param({classGradesName:classGradesNameVal, courseName:courseNameVal, checkInName:checkInNameVal
            }),function(data){
                console.log(data);

            });
    }

    var selectCourseName = document.getElementById('selectCourseName');

    // 为select元素添加change事件监听器
    selectCourseName.addEventListener('click', function() {
        // 当select选项改变时，将选中项的value赋值给文本框
        document.getElementById('courseName').value =  selectCourseName.value;
    });

    var selectClassGradesName = document.getElementById('selectClassGradesName');

    // 为select元素添加change事件监听器
    selectClassGradesName.addEventListener('click', function() {
        // 当select选项改变时，将选中项的value赋值给文本框
        document.getElementById('classGradesName').value =  selectClassGradesName.value;
    });

    var selectCheckInName = document.getElementById('selectCheckInName');

    // 为select元素添加change事件监听器
    selectCheckInName.addEventListener('click', function() {
        // 当select选项改变时，将选中项的value赋值给文本框
        document.getElementById('checkInName').value =  selectCheckInName.value;
    });
</script>
</body>
</html>