<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <input type="text" name="userid" placeholder="USERNAME" id="username1">
    <input type="password" name="psw" placeholder="PASSWORD" id="password1">
    <div class="button-row">
        <input type="submit" class="sign-in" value="Sign In" id="login">
        <input type="reset" class="reset" value="Reset" id="reset">
        <div class="clear"></div>
    </div>

<script inline="javascript">
    let login = document.getElementById("login");

    login.onclick = function() {
        //Get the value in the box
        var usernameVal1 = $("#username1").val();
        var passwordVal1 = $("#password1").val();

        $.get("/login-test?"+$.param({username:usernameVal1,password:passwordVal1
            }),function(data){
                console.log(data);
            });
    }
</script>
</body>
</html>