<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ManagementAdd</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <input type="text" placeholder="Username" id="username">
    <input type="text" placeholder="Password" id="password">
    <select id="privilege">
        <option value="Admin">Admin</option>
        <option value="Teacher">Teacher</option>
    </select>
    <button id="submit">Submit</button>
<!--    <button id="return">Go Back</button>-->
    <br>
    <input type="text" placeholder="ClassId" id="classId">
    <input type="text" placeholder="Major" id="major">
    <input type="text" placeholder="StudentNumber" id="studentNumber">
    <button id="submit1">Submit</button>
    <br>
    <input type="text" placeholder="CourseName" id="courseName">
    <input type="text" placeholder="ClassName" id="classGradesName" oninput="checkClassGradesName(event)">
    <select id="selectClassGradesName"></select>
    <input type="text" placeholder="TeacherName" id="teacherName" oninput="checkTeacherName(event)">
    <select id="selectTeacherName"></select>
    <input type="text" placeholder="CourseTime" id="courseTime">
    <button id="submit2">Submit</button>
    <br>
    <input type="text" placeholder="Major" id="major1">
    <input type="text" placeholder="StudentId" id="studentId">
    <input type="text" placeholder="StudentName" id="studentName">
    <button id="submit3">Submit</button>
    <br>
    <input type="text" placeholder="ClassName" id="classGradesName1" oninput="checkClassGradesName1(event)">
    <select id="selectClassGradesName1"></select>
    <button id="submit4">Submit</button>
    <input type="text" placeholder="Course" id="courseName1">
    <select id="selectCourseName1"></select>
    <input type="text" placeholder="Check In Name" id="checkInName">
    <button id="submit5">Submit</button>
    <br>

<script inline="javascript">
    let submit = document.getElementById("submit");
    let submit1 = document.getElementById("submit1");
    let submit2 = document.getElementById("submit2");
    let submit3 = document.getElementById("submit3");
    let submit4 = document.getElementById("submit4");
    let submit5 = document.getElementById("submit5");

    submit.onclick = function() {
        //Get the value in the box
        var usernameVal = $("#username").val();
        var passwordVal = $("#password").val();
        var selectedText = $('#privilege option:selected').val();

        $.get("/managementAdd-userTest?"+$.param({username:usernameVal,password:passwordVal,privilege:selectedText
            }),function(data){
                console.log(data);
            });

        $.get("/managementAdd-user?"+$.param({username:usernameVal,password:passwordVal,privilege:selectedText
            }),function(data){
                console.log(data);
            });
    }

     submit1.onclick = function() {
        //Get the value in the box
        var classIdVal = $("#classId").val();
        var majorVal = $("#major").val();
        var studentNumberVal = $("#studentNumber").val();

        $.get("/managementAdd-classTest?"+$.param({classId:classIdVal,major:majorVal,studentNumber:studentNumberVal
            }),function(data){
                console.log(data);
            });

        $.get("/managementAdd-class?"+$.param({classId:classIdVal,major:majorVal,studentNumber:studentNumberVal
            }),function(data){
                console.log(data);
            });

        $.get("/managementAdd-createTableRequestStudent?"+$.param({classGradesName:majorVal
            }),function(data){
                console.log(data);
            });
     }

     submit2.onclick = function() {
        //Get the value in the box
        var courseNameVal = $("#courseName").val();
        var classGradesNameVal = $("#classGradesName").val();
        var teacherNameVal = $("#teacherName").val();
        var courseTimeVal = $("#courseTime").val();

        $.get("/managementAdd-courseTest?"+$.param({courseName:courseNameVal,classGradesName:classGradesNameVal,teacherName:teacherNameVal,courseTime:courseTimeVal
            }),function(data){
                console.log(data);
            });

        $.get("/managementAdd-course?"+$.param({courseName:courseNameVal,classGradesName:classGradesNameVal,teacherName:teacherNameVal,courseTime:courseTimeVal
            }),function(data){
                console.log(data);
            });
<!--        $.get("/managementAdd-createTableRequest1?"+$.param({courseName:courseNameVal,classGradesName:classGradesNameVal-->
<!--            }),function(data){-->
<!--                console.log(data);-->
<!--            });-->

        $.get("/managementAdd-createTableRequest2?"+$.param({courseName:courseNameVal,classGradesName:classGradesNameVal
            }),function(data){
                console.log(data);
            });
     }

     submit3.onclick = function() {
        //Get the value in the box
        var majorVal = $("#major1").val();
        var studentIdVal = $("#studentId").val();
        var studentNameVal = $("#studentName").val();

        $.get("/managementAdd-addStudent?"+$.param({classGradesName:majorVal,studentId:studentIdVal,studentName:studentNameVal
            }),function(data){
                console.log(data);
            });
     }

     submit4.onclick = function() {
        //Get the value in the box
        var classGradesNameVal = $("#classGradesName1").val();

        document.getElementById('selectCourseName1').innerHTML = '';

        $.get("/managementAdd-addCheckInTestStep1?"+$.param({classGradesName:classGradesNameVal
            }),function(data){
                console.log(data);

                // 遍历后端数据，为每个数据项创建option元素
                data.forEach(item => {
                    var option = document.createElement('option');
                    option.value = item.courseName;
                    option.label = item.courseName;
                    document.getElementById('selectCourseName1').appendChild(option);
                });
            });
     }

     submit5.onclick = function() {
        //Get the value in the box
        var classGradesNameVal = $("#classGradesName1").val();
        var courseNameVal = $("#courseName1").val();
        var checkInNameVal = $("#checkInName").val();

        $.get("/managementAdd-addCheckCourseTable?"+$.param({classGradesName:classGradesNameVal, courseName:courseNameVal
            }),function(data){
                console.log(data);

            });

        $.get("/managementAdd-addNewCheckIn?"+$.param({classGradesName:classGradesNameVal, courseName:courseNameVal, checkInName:checkInNameVal
            }),function(data){
                console.log(data);

            });
     }

     var selectTeacherName = document.getElementById('selectTeacherName');
     var selectClassGradesName = document.getElementById('selectClassGradesName');
     var selectClassGradesName1 = document.getElementById('selectClassGradesName1');

     // 为select元素添加change事件监听器
     selectTeacherName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('teacherName').value = selectTeacherName.value;
     });

          // 为select元素添加change事件监听器
     selectClassGradesName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('classGradesName').value = selectClassGradesName.value;
     });

         // 为select元素添加change事件监听器
     selectClassGradesName1.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('classGradesName1').value = selectClassGradesName1.value;
     });

              // 为select元素添加change事件监听器
     selectCourseName1.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('courseName1').value = selectCourseName1.value;
     });

    function checkTeacherName(event) {
        var input = event.target;
        // 这里可以添加更多的逻辑，比如验证输入内容
        //Get the value in the box
        var teacherNameVal = $("#teacherName").val();

        document.getElementById('selectTeacherName').innerHTML = '';

        $.get("/managementAdd-checkTeacher?"+$.param({teacherName:teacherNameVal
            }),function(data){
                console.log(data);

                // 遍历后端数据，为每个数据项创建option元素
                data.forEach(item => {
                    var option = document.createElement('option');
                    option.value = item.username;
                    option.label = item.username;
                    document.getElementById('selectTeacherName').appendChild(option);
                });
            });
    }

    function checkClassGradesName(event){
        var input = event.target;
        // 这里可以添加更多的逻辑，比如验证输入内容
        //Get the value in the box
        var classGradesNameVal = $("#classGradesName").val();

        document.getElementById('selectClassGradesName').innerHTML = '';

        $.get("/managementAdd-checkClassGrades?"+$.param({classGradesName:classGradesNameVal
            }),function(data){
                console.log(data);

                // 遍历后端数据，为每个数据项创建option元素
                data.forEach(item => {
                    var option = document.createElement('option');
                    option.value = item.major;
                    option.label = item.major;
                    document.getElementById('selectClassGradesName').appendChild(option);
                });
            });
    }

    function checkClassGradesName1(event){
        var input = event.target;
        // 这里可以添加更多的逻辑，比如验证输入内容
        //Get the value in the box
        var classGradesNameVal = $("#classGradesName1").val();

        document.getElementById('selectClassGradesName1').innerHTML = '';

        $.get("/managementAdd-checkClassGrades?"+$.param({classGradesName:classGradesNameVal
            }),function(data){
                console.log(data);

                // 遍历后端数据，为每个数据项创建option元素
                data.forEach(item => {
                    var option = document.createElement('option');
                    option.value = item.major;
                    option.label = item.major;
                    document.getElementById('selectClassGradesName1').appendChild(option);
                });
            });

    }

</script>
</body>
</html>