<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Management</title>
  <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<button id="submit">Submit</button>


<script inline="javascript">
  let submit = document.getElementById("submit");
  submit.onclick = function() {


        $.get("/management-getAllUsers?"+$.param({
            }),function(data){
                console.log(data);
            });

        $.get("/management-getAllCourses?"+$.param({
            }),function(data){
                console.log(data);
            });

        $.get("/management-getAllClassesGrades?"+$.param({
            }),function(data){
                console.log(data);
            });

    }
</script>
</body>
</html>