<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Management</title>
  <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<label>Check All Information</label>
<button id="submit">Submit</button>
<br>
<table id = "courseTable" border="1">
</table>
<br>
<label>Check URLs</label>
<input type="text" placeholder="Teacher Name" id="teacherName" oninput="checkTeacherName(event)">
<select id="selectTeacherName"></select>
<button id="submit1">Submit</button>
<input type="text" placeholder="Course Name" id="courseName">
<select id="selectCoursesName"></select>
<button id="submit2">Submit</button>
<input type="text" placeholder="Class Name" id="classGradesName" >
<select id="selectClassGradesName"></select>
<button id="submit3">Submit</button>
<input type="text" placeholder="Class Name" id="checkInName" >
<select id="selectCheckInName"></select>
<button id="submit4">Submit</button>
<br>
<label>Change Teacher Name</label>
<input type="text" placeholder="Old Teacher Name" id="oldTeacherName">
<input type="text" placeholder="New Teacher Name" id="newTeacherName">
<button id="submit5">Submit</button>
<br>


<script inline="javascript">
  let submit = document.getElementById("submit");
  let submit1 = document.getElementById("submit1");
  let submit2 = document.getElementById("submit2");
  let submit3 = document.getElementById("submit3");
  let submit4 = document.getElementById("submit4");
  let submit5 = document.getElementById("submit5");
  submit.onclick = function() {


        $.get("/management-getAllUsers?"+$.param({
            }),function(data){
                console.log(data);
            });

        $.get("/management-getAllCourses?"+$.param({
            }),function(data){
                console.log(data);

                document.getElementById("courseTable").innerHTML = "";

                var str = "<tr><th>Id</th><th>Course Id</th><th>Course Name</th><th>Class Id</th><th>Teacher Id</th><th>Course Time</th><th>Function</th></tr>";
                $("#courseTable").append(str);

                str = "";
                  for (var i = 0; i < data.length; i++) {
                      str = "<tr id = rowCourse" + i + "><td id = courseId" + i + ">" + data[i].id + "</td>" +
                      "<td id = courseIdId" + i + ">" + data[i].courseId + "</td>" +
                      "<td><input type = 'text' id = courseName" + i + " value = \"" + data[i].courseName + "\"></td>" +
                      "<td><input type = 'text' id = courseClassId" + i + " value = " + data[i].classId + "></td> " +
                      "<td><input type = 'text' id = courseTeacherId" + i + " value = " + data[i].teacherId + "></td>" +
                      "<td><input type = 'text' id = courseTime" + i + " value = " + data[i].courseTime + "></td>" +
                      "<td><button id = course" + i + " onclick = 'changeCourse(id)'>Change</button></td></tr>";
                      $("#courseTable").append(str);
                  }
            });

        $.get("/management-getAllClassesGrades?"+$.param({
            }),function(data){
                console.log(data);
            });

    }

    function changeCourse(id){
        id = id.substring(6);
        var idVal = document.getElementById("courseId" + id).innerHTML;
        var courseIdVal = document.getElementById("courseIdId" + id).innerHTML;
        var courseNameVal = document.getElementById("courseName" + id).value;
        var courseClassIdVal = document.getElementById("courseClassId" + id).value;
        var courseTeacherIdVal = document.getElementById("courseTeacherId" + id).value;
        var courseTimeVal = document.getElementById("courseTime" + id).value;
        $.get("/management-changeCourse?"+$.param({id:idVal, courseId:courseIdVal, courseName:courseNameVal, classId:courseClassIdVal, teacherId:courseTeacherIdVal, courseTime:courseTimeVal
              }),function(data){
                  console.log(data);

              });


    }

    submit1.onclick = function() {

        var teacherNameVal = $("#teacherName").val();

        document.getElementById('selectCoursesName').innerHTML = '';

        $.get("/management-checkCourses?"+$.param({teacherName:teacherNameVal
            }),function(data){
                console.log(data);

                if(data !== ""){
                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item.courseName;
                      option.label = item.courseName;
                      document.getElementById('selectCoursesName').appendChild(option);
                  });
                }

            });

    }

    submit2.onclick = function() {

        var teacherNameVal = $("#teacherName").val();
        var courseNameVal = $("#courseName").val();

        document.getElementById('selectClassGradesName').innerHTML = '';

        $.get("/management-checkTeacherCourses?"+$.param({teacherName:teacherNameVal, courses:courseNameVal
            }),function(data){
                console.log(data);

                if(data !== ""){
                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item.major;
                      option.label = item.major;
                      document.getElementById('selectClassGradesName').appendChild(option);
                  });
                }

            });

    }

    submit3.onclick = function() {

        var classGradesNameVal = $("#classGradesName").val();
        var courseNameVal = $("#courseName").val();

        document.getElementById('selectCheckInName').innerHTML = '';

        $.get("/management-checkCheckIn?"+$.param({classGradesName:classGradesNameVal, courses:courseNameVal
            }),function(data){
                console.log(data);

                if(data !== ""){
                  // 遍历后端数据，为每个数据项创建option元素
                  data.forEach(item => {
                      var option = document.createElement('option');
                      option.value = item;
                      option.label = item;
                      document.getElementById('selectCheckInName').appendChild(option);
                  });
                }

            });

    }

    submit4.onclick = function() {

        var classGradesNameVal = $("#classGradesName").val();
        var courseNameVal = $("#courseName").val();
        var checkInNameVal = $("#checkInName").val();

        $.get("/management-getCheckInURL?"+$.param({classGradesName:classGradesNameVal, courses:courseNameVal, checkInName:checkInNameVal
            }),function(data){
                console.log(data);



            });

    }

    submit5.onclick = function() {

        var oldTeacherNameVal = $("#oldTeacherName").val();
        var newTeacherNameVal = $("#newTeacherName").val();

        $.get("/management-changeTeacherName?"+$.param({oldTeacherName:oldTeacherNameVal, newTeacherName:newTeacherNameVal
            }),function(data){
                console.log(data);

            });

    }

     var selectTeacherName = document.getElementById('selectTeacherName');
     var selectCoursesName = document.getElementById('selectCoursesName');
     var selectClassGradesName = document.getElementById('selectClassGradesName');
     var selectCheckInName = document.getElementById('selectCheckInName');

     // 为select元素添加change事件监听器
     selectTeacherName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('teacherName').value = selectTeacherName.value;
     });

     // 为select元素添加change事件监听器
     selectCoursesName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('courseName').value = selectCoursesName.value;
     });

     // 为select元素添加change事件监听器
     selectClassGradesName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('classGradesName').value = selectClassGradesName.value;
     });

     // 为select元素添加change事件监听器
     selectCheckInName.addEventListener('click', function() {
         // 当select选项改变时，将选中项的value赋值给文本框
         document.getElementById('checkInName').value = selectCheckInName.value;
     });

     function checkTeacherName(event) {
        var input = event.target;
        // 这里可以添加更多的逻辑，比如验证输入内容
        //Get the value in the box
        var teacherNameVal = $("#teacherName").val();

        document.getElementById('selectTeacherName').innerHTML = '';

        $.get("/managementAdd-checkTeacher?"+$.param({teacherName:teacherNameVal
            }),function(data){
                console.log(data);

                // 遍历后端数据，为每个数据项创建option元素
                data.forEach(item => {
                    var option = document.createElement('option');
                    option.value = item.username;
                    option.label = item.username;
                    document.getElementById('selectTeacherName').appendChild(option);
                });
            });
     }

</script>
</body>
</html>